/*csslint ids: false, box-model: false, box-sizing: false*/

a {
    text-decoration: none;
}

body {
    font-family: "monospace";
}

#wrapper {
    margin: 0 auto;
    max-width: 940px;
    padding: 0 5%;
}

#logo {
    margin: 0;
    text-align: center;
}

a {
    color: black;
}

nav a,
nav a:visited {
    color: black;
}

nav .selected,
nav a:hover {
    color: white;
}

body {
    background-image: url('../img/wood.png');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

header {
    float: left;
    margin: 0 0 30px 0;
    padding: 5px 0 0 0;
    width: 100%;
}

nav ul {
    list-style: none;
    margin: 0 10px;
    padding: 10px 0;
}

nav li {
    display: inline-block;
}

nav a {
    font-weight: 800;
    padding: 15px 10px;
}

h1 {
    color: black;
    font-family: 'Lora', serif;
    font-size: 1.75em;
    font-size: 2.5em;
    margin: 15px 0;
}

h2 {
    font-size: 0.75em;
    font-weight: normal;
    margin: -5px 0 0;
    margin-bottom: 20px;
}

nav {
    margin: 20px 0 0;
    padding: 10px 0;
    text-align: center;
}

footer {
    clear: both;
    color: gray;
    font-size: 0.75em;
    padding-top: 50px;
    text-align: center;
}

.social-media-icon {
    display: block;
    height: 20px;
    margin: 0 5px;
    width: 20px;
}

#gallery {
    list-style: none;
    margin: 0;
    padding: 0;
}

#gallery li {
    color: black;
    float: left;
    margin: 2.5%;
    width: 45%;
}

img {
    display: block;
    margin: auto;
    max-width: 100px;
}

#gallery li a p {
    color: black;
    font-size: 0.75em;
    margin: 0;
    padding: 5%;
    text-align: center;
}

p {
    color: black;
}

h3 {
    color: black;
    margin: 0 0 1em 0;
}

#ca {
    border-radius: 15%;
    display: block;
    max-width: 500px;
}

.contact .mail a #poop {
    background-image: url('../img/g.png');
}

.contact .instagram a #poop {
    background-image: url('../img/insta.jpg');
}

.contact a {
    background-repeat: no-repeat;
    background-size: 20px;
    display: block;
    margin: 0 0 10px;
    min-height: 20px;
    padding: 0 0 0 30px;
}

.contact {
    font-size: 0.9em;
    list-style: none;
    margin: 0;
    padding: 0;
}

@media screen and (min-width: 480px) {
    #primary {
        float: left;
        width: 50%;
    }
    #secondary {
        float: right;
        width: 40%;
    }
    #gallery li {
        width: 28.3333%;
    }
    .profile {
        float: left;
        margin: 500px;
    }
}

@media screen and (min-width: 660px) {
    nav {
        background: none;
        float: right;
        font-size: 1.125em;
        margin-right: 5%;
        text-align: right;
        width: 45%;
    }
    #logo {
        float: left;
        margin-left: 5%;
        text-align: left;
        width: 45%;
    }
    header {
        border-bottom: 5px solid black;
        margin-bottom: 60px;
    }
}

#p {
    color: white;
    font-size: 30px;
}

#aa {
    text-decoration: underline;
}

#cart {
    text-align: center;
}

#cssmenu {
    width: auto;
}

#cssmenu ul {
    display: block;
    line-height: 1;
    list-style: none;
    margin: 0;
    padding: 0;
    zoom: 1;
}

#cssmenu ul:after {
    clear: both;
    content: " ";
    display: block;
    font-size: 0;
    height: 0;
    visibility: hidden;
}

#cssmenu ul li {
    display: inline-block;
    margin: 0;
    padding: 0;
}

#cssmenu.align-right ul li {
    float: right;
}

#cssmenu.align-center ul {
    text-align: center;
}

#cssmenu ul li a {
    color: #ffffff;
    display: block;
    float: right;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 700;
    padding: 15px 25px;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    -webkit-transition: color .25s;
    -moz-transition: color .25s;
    -ms-transition: color .25s;
    -o-transition: color .25s;
    transition: color .25s;
}

#cssmenu ul li a:hover {
    color: #333333;
}

#cssmenu ul li a:hover:before {
    width: 100%;
}

#cssmenu ul li a:after {
    background: #ffffff;
    content: "";
    display: block;
    height: 6px;
    opacity: .5;
    position: absolute;
    right: -3px;
    top: 19px;
    width: 6px;
}

#cssmenu ul li a:before {
    background: #333333;
    bottom: 0;
    content: "";
    display: block;
    height: 3px;
    left: 0;
    position: absolute;
    -webkit-transition: width .25s;
    -moz-transition: width .25s;
    -ms-transition: width .25s;
    -o-transition: width .25s;
    transition: width .25s;
    width: 0;
}

#cssmenu ul li.last > a:after,
#cssmenu ul li:last-child > a:after {
    display: none;
}

#cssmenu ul li.active a {
    color: black;
}

#cssmenu ul li.active a:before {
    width: 100%;
}

#cssmenu.align-right li.last > a:after,
#cssmenu.align-right li:last-child > a:after {
    display: block;
}

#cssmenu.align-right li:first-child a:after {
    display: none;
}

@media screen and (max-width: 768px) {
    #cssmenu ul li {
        float: none;
        width: 100%;
    }
    #cssmenu ul li a {
        border-bottom: 1px solid #fb998c;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        width: 100%;
    }
    #cssmenu ul li.last > a,
    #cssmenu ul li:last-child > a {
        border: 0;
    }
    #cssmenu ul li a:after {
        display: none;
    }
    #cssmenu ul li a:before {
        display: none;
    }
}

#carter {
    float: right;
}

#arter {
    border-radius: 15%;
    height: 200px;
    max-width: 800px;
    width: 300px;
}

#den {
    display: block;
    margin: auto;
    padding: 4px;
}

#denis {
    display: block;
    margin: auto;
    padding: 4px;
}

label {
    color: black;
    font-size: 15px;
}

#superHumans {
    background-color: lightsteelblue;
}

#as {
    color: black;
}

h6 {
    font-size: 15;
}

#ad {
    color: black;
}

#qw {
    height: 35px;
    width: 35px;
}